Repository guorozco/GCP-GKE-Actions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-github-username, @infrastructure-team, @senior-team, @platform-team, @security-team

.github/CODEOWNERS:

# Global owners
* @your-github-username

# Infrastructure code requires infrastructure team approval
/infra/ @infrastructure-team @your-github-username

# Production deployments require senior approval
/.github/workflows/deploy.yml @senior-team @your-github-username

# Helm charts require platform team approval
/charts/ @platform-team @your-github-username

# Security-related files require security team approval
/SECURITY.md @security-team @your-github-username
/.github/workflows/ @security-team @platform-team @your-github-username

github actions fix
  .github/workflows/deploy-fixed.yml
  fix-github-actions-auth.md
Owners: @security-team, @platform-team, @your-github-username

fix: GitHub Actions pod readiness timeout
  .github/workflows/deploy.yml
Owners: @security-team, @platform-team, @your-github-username

Removed and updated documentation
  ARTIFACT_REGISTRY.md
  ARTIFACT_REGISTRY_FIX.md
  CICD_SETUP.md
  CLEANUP.md
  DEPLOYMENT.md
  DEPLOYMENT_GUIDE.md
  FIXES.md
  KUBECTL_COMMANDS.md
  QUICK_START.md
  README.md
  SECURITY.md
  SECURITY_INCIDENT_REPORT.md
  TEST_DEPLOYMENT.md
  clean-all-emojis.sh
  fix-github-actions-auth.md
  github-actions-debug-commands.md
Owners: @your-github-username, @security-team

Delete .DS_Store
  .DS_Store
Owners: @your-github-username

fix to aviod actions app name
  .github/workflows/deploy.yml
  github-actions-debug-commands.md
Owners: @security-team, @platform-team, @your-github-username

removed extra doc files
  PERMISSION_FIX.md
  github-actions-debug-commands.md
Owners: @your-github-username

removed extra doc files
  README.md
Owners: @your-github-username

Final CI-CD testing for Staging and Production deployment
  README.md
Owners: @your-github-username

CI-CD testing for Staging and Production deployment
  .github/README.md
Owners: @your-github-username

CI-CD testing for Staging and Production deployment
  .github/README.md
  .gitignore
  app/README.md
  charts/hello-app/README.md
Owners: @your-github-username, @platform-team

Delete infra/environments/production/.terragrunt-cache/MgdQyK7Wpql6WFhwxGysFFO0adk/2zi1oXk8pgNxA9gLyzvRD9IdKXU directory
  infra/environments/production/.terragrunt-cache/MgdQyK7Wpql6WFhwxGysFFO0adk/2zi1oXk8pgNxA9gLyzvRD9IdKXU/.terraform.lock.hcl
  infra/environments/production/.terragrunt-cache/MgdQyK7Wpql6WFhwxGysFFO0adk/2zi1oXk8pgNxA9gLyzvRD9IdKXU/.terragrunt-module-manifest
  infra/environments/production/.terragrunt-cache/MgdQyK7Wpql6WFhwxGysFFO0adk/2zi1oXk8pgNxA9gLyzvRD9IdKXU/.terragrunt-source-manifest
  infra/environments/production/.terragrunt-cache/MgdQyK7Wpql6WFhwxGysFFO0adk/2zi1oXk8pgNxA9gLyzvRD9IdKXU/.terragrunt-source-version
  infra/environments/production/.terragrunt-cache/MgdQyK7Wpql6WFhwxGysFFO0adk/2zi1oXk8pgNxA9gLyzvRD9IdKXU/backend.tf
  infra/environments/production/.terragrunt-cache/MgdQyK7Wpql6WFhwxGysFFO0adk/2zi1oXk8pgNxA9gLyzvRD9IdKXU/main.tf
  infra/environments/production/.terragrunt-cache/MgdQyK7Wpql6WFhwxGysFFO0adk/2zi1oXk8pgNxA9gLyzvRD9IdKXU/outputs.tf
  infra/environments/production/.terragrunt-cache/MgdQyK7Wpql6WFhwxGysFFO0adk/2zi1oXk8pgNxA9gLyzvRD9IdKXU/provider.tf
  infra/environments/production/.terragrunt-cache/MgdQyK7Wpql6WFhwxGysFFO0adk/2zi1oXk8pgNxA9gLyzvRD9IdKXU/secrets.tf
  infra/environments/production/.terragrunt-cache/MgdQyK7Wpql6WFhwxGysFFO0adk/2zi1oXk8pgNxA9gLyzvRD9IdKXU/terraform.log
  infra/environments/production/.terragrunt-cache/MgdQyK7Wpql6WFhwxGysFFO0adk/2zi1oXk8pgNxA9gLyzvRD9IdKXU/terragrunt.hcl
  infra/environments/production/.terragrunt-cache/MgdQyK7Wpql6WFhwxGysFFO0adk/2zi1oXk8pgNxA9gLyzvRD9IdKXU/variables.tf
Owners: @infrastructure-team, @your-github-username

Delete infra/environments/production/terraform.log
  infra/environments/production/terraform.log
Owners: @infrastructure-team, @your-github-username

Delete infra/environments/production/.terraform.lock.hcl
  infra/environments/production/.terraform.lock.hcl
Owners: @infrastructure-team, @your-github-username

Delete infra/environments/.DS_Store
  infra/environments/.DS_Store
Owners: @infrastructure-team, @your-github-username

Delete infra/.DS_Store
  infra/.DS_Store
Owners: @infrastructure-team, @your-github-username

Delete charts/.DS_Store
  charts/.DS_Store
Owners: @platform-team, @your-github-username

Delete .github/.DS_Store
  .github/.DS_Store
Owners: @your-github-username

CI-CD testing for Staging and Production deployment
  README.md
Owners: @your-github-username
